<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>双向数据绑定</title>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        双向数据绑定：<input type="text" v-model.trim="message" /><input type="text" v-model.lazy="message" />
        <br />
        [{{ message }}]
        <br />
        <p>
            <input type="checkbox"value="checkbox1" v-model="web_Names">
            <label >checkbox1</label><br />
            <input type="checkbox"value="checkbox2" v-model="web_Names">
            <label>checkbox2</label><br />
            <input type="checkbox" value="checkbox3" v-model="web_Names">
            <label>checkbox3</label>
            <p>多选绑定: {{web_Names}}</p>
        </p>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!',
                web_Names: []
            }
        })
    </script>
</body>

</html>