<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <el-button @click="visible = true">check</el-button>
        <p>总天数：{{selectAllDate.length}}</p>
        <br />
        <el-date-picker v-model="value1" @change="change1" type="daterange" :value-format="dateFormat" range-separator="至"
            start-placeholder="开始日期" end-placeholder="结束日期">
        </el-date-picker>{{dateCount1}}
        <br />
        <el-date-picker v-model="value2" @change="change2" type="daterange" :value-format="dateFormat" range-separator="至"
            start-placeholder="开始日期" end-placeholder="结束日期">
        </el-date-picker>{{dateCount2}}
        <br />
        <el-date-picker v-model="value3" @change="change3" type="daterange" :value-format="dateFormat" range-separator="至"
            start-placeholder="开始日期" end-placeholder="结束日期">
        </el-date-picker>{{dateCount3}}
        <br />
        <el-date-picker v-model="value4" @change="change4" type="daterange" :value-format="dateFormat" range-separator="至"
            start-placeholder="开始日期" end-placeholder="结束日期">
        </el-date-picker>{{dateCount4}}
        <br />
        <el-date-picker v-model="value5" @change="change5" type="daterange" :value-format="dateFormat" range-separator="至"
            start-placeholder="开始日期" end-placeholder="结束日期">
        </el-date-picker>{{dateCount5}}
        <br />
        <el-date-picker v-model="value6" @change="change6" type="daterange" :value-format="dateFormat" range-separator="至"
            start-placeholder="开始日期" end-placeholder="结束日期">
        </el-date-picker>{{dateCount6}}
    </div>
    <!-- import Vue before Element -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: function () {
                return {
                    dateFormat: "yyyy-MM-dd",
                    dateFormatStr: "YYYY-MM-DD",
                    value1: null,
                    dateCount1: 0,
                    value2: null,
                    dateCount2: 0,
                    value3: null,
                    dateCount3: 0,
                    value4: null,
                    dateCount4: 0,
                    value5: null,
                    dateCount5: 0,
                    value6: null,
                    dateCount6: 0,
                    // ==================
                    selectAllDate: []
                }
            },
            methods: {
                /**
                * 获取两个日期之间存在的日期
                */
                getDates:function(beginDate,days){
                    var oneDayMilliseconds = 1000*60*60*24
                    var arr = [];
                    for(var i = 0; i < days; i++){
                        if(i == 0){
                            arr.push(beginDate)
                        }else{
                            var milliseconds = beginDate.toDate().getTime() + oneDayMilliseconds*(i)
                            arr.push(moment(moment(milliseconds).format(this.dateFormatStr)))
                        }
                    }
                    console.log(arr)
                    return arr
                },
                change: function (data, index) {
                    console.log(data, index)
                    // 先获取两个日期之间的所有天数 
                    var begin = moment(data[0], this.dateFormatStr)
                    var end = moment(data[1], this.dateFormatStr)

                    var dateDiff = begin.diff(end, 'days') * -1 + 1;
                    
                    var days = this.getDates(begin,dateDiff)

                    // 查找数组中是否存在这一天
                    for(idx in days){
                        var day = days[idx]
                        var flag = this.selectAllDate.find(function (item) {
                            if(item.format(this.dateFormatStr) == day.format(this.dateFormatStr)){
                                return true
                            }
                            return false
                        })
                        if(flag){
                            // 已经计算过，-1
                            dateDiff-- 
                        }else{
                            this.selectAllDate.push(day)
                        }
                    }


                    return dateDiff
                },
                change1: function (data) {
                    this.dateCount1 = this.change(data, 1)
                },
                change2: function (data) {
                    this.dateCount2 = this.change(data, 2)
                },
                change3: function (data) {
                    this.dateCount3 = this.change(data, 3)
                },
                change4: function (data) {
                    this.dateCount4 = this.change(data, 4)
                },
                change5: function (data) {
                    this.dateCount5 = this.change(data, 5)
                },
                change6: function (data) {
                    this.dateCount6 = this.change(data, 6)
                }
            }
        })
    </script>
</body>

</html>